---
title: Shumaila Chini | UX Designer
name: home
layout: base
image: "/img/og-img.png"
---

<div class="bg"></div>
<main class="site-container">
  <div class="home">
    <div class="intro">
      <div>
        <h1>
          <span class="hint" title="Type my name and see what happens"
            >Shumaila</span
          >
          Chini
        </h1>
        — Product & UX designer specializing in Web3
      </div>
      <div>
        I'm available for full-time or contract work in June 2023
        <a href="mailto:shumylachini@gmail.com">Reach out</a> if you'd like to
        work together
      </div>
      <div>
        I'm a Google certified, highly motivated and adaptable UX designer,
        expert in creating seamless and user-centric interfaces with skills in
        research, prototyping and design.
      </div>
      <hr class="accent" />
    </div>
    <div class="flex">
      <div class="work column">
        <h2>Selected work</h2>
        {% for item in site.data.portfolio %} {% if item.show %}
        <a
          class="project"
          id="{{ item.id }}"
          onmouseover="addClass(body, '{{ item.id }}');"
          onmouseout="removeClass(body, '{{ item.id }}');"
          href="{{ item.url }}"
        >
          <b>{{ item.title }}</b>—{{ item.description }}{% if
          item.external%}<span class="accent external-link"
            >&#8599;&#xFE0E;</span
          >{% endif %}
        </a>
        {% endif %} {% endfor %}

        <h2>Resume</h2>
        <div>My resume can be found <a href="">here</a></div>

        <div class="writing-preview">
          <h2>Recent writing</h2>
          <div class="post-container">
            {% for item in site.data.writing1 %}
            <a
              class="post-link {% if item.published == false %} disabled {% endif %}"
              href="{{ item.url }}"
            >
              <b>{{ item.title }}</b>
              <div>{{ item.description }}</div>
            </a>
            {% endfor %}
          </div>
        </div>
        <div class="writing-preview">
          <div class="post-container">
            {% for item in site.data.writing2 %}
            <a
              class="post-link {% if item.published == false %} disabled {% endif %}"
              href="{{ item.url }}"
            >
              <b>{{ item.title }}</b>
              <div>{{ item.description }}</div>
            </a>
            {% endfor %}
          </div>
          <a class="back" href="/writing">Read the rest <span>→</span></a>
        </div>
      </div>
      <div class="about column">
        <h2>A little about me</h2>
        <div>
          A licensed pharmacist by training and a passionate for UX design, I
          decided to dive head-first into designing in 2023 after spending three
          years in drug safety and pharmacology after my professional degree
        </div>
        <div>
          I have recently earned my UX design professional certificate from
          Google and looking for my first role in design
        </div>
        <div>
          I grew up in a small town in India, make a lot of self deprecating
          jokes, and I'm notorious for being average at a thousand hobbies—most
          recently writing, <strike>guitar</strike> piano,
          <strike>mini</strike> Monday crossword puzzles,
          <strike>knitting</strike> wire sculpting, and journaling.
        </div>
        <div class="collaborators">
          <h2>Skills</h2>
          <div>
            <h4>Figma</h4>
          </div>
          <div>
            <h4>Adobe XD</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
